[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
cache/

.vs/
.vscode/
.vsconfig

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

[Bb]uild/
[Bb]uilds/
*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db
